[Unit]
Description=Handshake (HSD/HNSD)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/handshake/spv/hnsd -r 127.0.0.1:53530 -a 'UnOrdinary'

[Install]
WantedBy=multi-user.target