[Unit]
Description=SoraChat (Dendrite Matrix Homeserver)
After=syslog.target
After=network.target

[Service]
Environment=GODEBUG=madvdontneed=1
RestartSec=2s
Type=simple
User=unordinary
Group=unordinary
WorkingDirectory=/opt/sorachat/
ExecStart=/opt/sorachat/dendrite-monolith-server --config dendrite.yaml --tls-cert /opt/acme/live/letsencrypt/sorachat/fullchain.pem --tls-key /opt/acme/live/letsencrypt/sorachat/privkey.pem --http-bind-address 127.0.0.1:8008 --https-bind-address 127.0.0.1:8448
Restart=always
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target